@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CJ Vina Agri</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
</head>
<body>
    <div class="jumbotron text-center">
        <h1 class="display-3">SORRY!</h1>
        <p class="lead"></p>
    </div>
    <script type="text/javascript">
        $(function () {
            var authorizedErr = '@TempData["authorizeErr"]';
            var hasErr = authorizedErr.length > 0;
            if (hasErr) {
                $(".lead").text(authorizedErr);
            }
        });
    </script>
</body>
</html>

