<html dir="ltr" lang="en">

<head>
    <title data-cke-title="Rich Text Editor, BodyHTML">Rich Text Editor, BodyHTML</title>
    <style data-cke-temp="1">
        html {
            cursor: text;
            *cursor: auto
        }

        img,
        input,
        textarea {
            cursor: default
        }
    </style>
    <link type="text/css" rel="stylesheet"
          href="/WorldClient.dll?Session=CERR82W50BYVI&amp;View=Compose&amp;ContentType=css&amp;ReturnCSS=1">
    <link type="text/css" rel="stylesheet"
          href="https://mail.cjvina.com/ckeditor/plugins/copyformatting/styles/copyformatting.css">
    <style data-cke-temp="1">
        .cke_editable {
            cursor: text
        }

            .cke_editable img,
            .cke_editable input,
            .cke_editable textarea {
                cursor: default
            }

        img.cke_flash {
            background-image: url(https://mail.cjvina.com/ckeditor/plugins/flash/images/placeholder.png?t=GB8C);
            background-position: center center;
            background-repeat: no-repeat;
            border: 1px solid #a9a9a9;
            width: 80px;
            height: 80px;
        }

        .cke_editable form {
            border: 1px dotted #FF0000;
            padding: 2px;
        }

        img.cke_hidden {
            background-image: url(https://mail.cjvina.com/ckeditor/plugins/forms/images/hiddenfield.gif?t=GB8C);
            background-position: center center;
            background-repeat: no-repeat;
            border: 1px solid #a9a9a9;
            width: 16px !important;
            height: 16px !important;
        }

        img.cke_iframe {
            background-image: url(https://mail.cjvina.com/ckeditor/plugins/iframe/images/placeholder.png?t=GB8C);
            background-position: center center;
            background-repeat: no-repeat;
            border: 1px solid #a9a9a9;
            width: 80px;
            height: 80px;
        }

        .cke_contents_ltr a.cke_anchor,
        .cke_contents_ltr a.cke_anchor_empty,
        .cke_editable.cke_contents_ltr a[name],
        .cke_editable.cke_contents_ltr a[data-cke-saved-name] {
            background: url(https://mail.cjvina.com/ckeditor/plugins/link/images/anchor.png?t=GB8C) no-repeat left center;
            border: 1px dotted #00f;
            background-size: 16px;
            padding-left: 18px;
            cursor: auto;
        }

        .cke_contents_ltr img.cke_anchor {
            background: url(https://mail.cjvina.com/ckeditor/plugins/link/images/anchor.png?t=GB8C) no-repeat left center;
            border: 1px dotted #00f;
            background-size: 16px;
            width: 16px;
            min-height: 15px;
            height: 1.15em;
            vertical-align: text-bottom;
        }

        .cke_contents_rtl a.cke_anchor,
        .cke_contents_rtl a.cke_anchor_empty,
        .cke_editable.cke_contents_rtl a[name],
        .cke_editable.cke_contents_rtl a[data-cke-saved-name] {
            background: url(https://mail.cjvina.com/ckeditor/plugins/link/images/anchor.png?t=GB8C) no-repeat right center;
            border: 1px dotted #00f;
            background-size: 16px;
            padding-right: 18px;
            cursor: auto;
        }

        .cke_contents_rtl img.cke_anchor {
            background: url(https://mail.cjvina.com/ckeditor/plugins/link/images/anchor.png?t=GB8C) no-repeat right center;
            border: 1px dotted #00f;
            background-size: 16px;
            width: 16px;
            min-height: 15px;
            height: 1.15em;
            vertical-align: text-bottom;
        }

        div.cke_pagebreak {
            background: url(https://mail.cjvina.com/ckeditor/plugins/pagebreak/images/pagebreak.gif?t=GB8C) no-repeat center center !important;
            clear: both !important;
            width: 100% !important;
            border-top: #999 1px dotted !important;
            border-bottom: #999 1px dotted !important;
            padding: 0 !important;
            height: 7px !important;
            cursor: default !important;
        }

        .cke_show_blocks h6:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks h5:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks h4:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks h3:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks h2:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks h1:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks blockquote:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks address:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks pre:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks div:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks p:not([contenteditable=false]):not(.cke_show_blocks_off) {
            background-repeat: no-repeat;
            border: 1px dotted gray;
            padding-top: 8px
        }

        .cke_show_blocks h6:not([contenteditable=false]):not(.cke_show_blocks_off) {
            background-image: url(https://mail.cjvina.com/ckeditor/plugins/showblocks/images/block_h6.png?t=GB8C)
        }

        .cke_show_blocks h5:not([contenteditable=false]):not(.cke_show_blocks_off) {
            background-image: url(https://mail.cjvina.com/ckeditor/plugins/showblocks/images/block_h5.png?t=GB8C)
        }

        .cke_show_blocks h4:not([contenteditable=false]):not(.cke_show_blocks_off) {
            background-image: url(https://mail.cjvina.com/ckeditor/plugins/showblocks/images/block_h4.png?t=GB8C)
        }

        .cke_show_blocks h3:not([contenteditable=false]):not(.cke_show_blocks_off) {
            background-image: url(https://mail.cjvina.com/ckeditor/plugins/showblocks/images/block_h3.png?t=GB8C)
        }

        .cke_show_blocks h2:not([contenteditable=false]):not(.cke_show_blocks_off) {
            background-image: url(https://mail.cjvina.com/ckeditor/plugins/showblocks/images/block_h2.png?t=GB8C)
        }

        .cke_show_blocks h1:not([contenteditable=false]):not(.cke_show_blocks_off) {
            background-image: url(https://mail.cjvina.com/ckeditor/plugins/showblocks/images/block_h1.png?t=GB8C)
        }

        .cke_show_blocks blockquote:not([contenteditable=false]):not(.cke_show_blocks_off) {
            background-image: url(https://mail.cjvina.com/ckeditor/plugins/showblocks/images/block_blockquote.png?t=GB8C)
        }

        .cke_show_blocks address:not([contenteditable=false]):not(.cke_show_blocks_off) {
            background-image: url(https://mail.cjvina.com/ckeditor/plugins/showblocks/images/block_address.png?t=GB8C)
        }

        .cke_show_blocks pre:not([contenteditable=false]):not(.cke_show_blocks_off) {
            background-image: url(https://mail.cjvina.com/ckeditor/plugins/showblocks/images/block_pre.png?t=GB8C)
        }

        .cke_show_blocks div:not([contenteditable=false]):not(.cke_show_blocks_off) {
            background-image: url(https://mail.cjvina.com/ckeditor/plugins/showblocks/images/block_div.png?t=GB8C)
        }

        .cke_show_blocks p:not([contenteditable=false]):not(.cke_show_blocks_off) {
            background-image: url(https://mail.cjvina.com/ckeditor/plugins/showblocks/images/block_p.png?t=GB8C)
        }

        .cke_show_blocks.cke_contents_ltr h6:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks.cke_contents_ltr h5:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks.cke_contents_ltr h4:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks.cke_contents_ltr h3:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks.cke_contents_ltr h2:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks.cke_contents_ltr h1:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks.cke_contents_ltr blockquote:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks.cke_contents_ltr address:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks.cke_contents_ltr pre:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks.cke_contents_ltr div:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks.cke_contents_ltr p:not([contenteditable=false]):not(.cke_show_blocks_off) {
            background-position: top left;
            padding-left: 8px
        }

        .cke_show_blocks.cke_contents_rtl h6:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks.cke_contents_rtl h5:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks.cke_contents_rtl h4:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks.cke_contents_rtl h3:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks.cke_contents_rtl h2:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks.cke_contents_rtl h1:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks.cke_contents_rtl blockquote:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks.cke_contents_rtl address:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks.cke_contents_rtl pre:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks.cke_contents_rtl div:not([contenteditable=false]):not(.cke_show_blocks_off),
        .cke_show_blocks.cke_contents_rtl p:not([contenteditable=false]):not(.cke_show_blocks_off) {
            background-position: top right;
            padding-right: 8px
        }

        .cke_show_borders table.cke_show_border,
        .cke_show_borders table.cke_show_border > tr > td,
        .cke_show_borders table.cke_show_border > tr > th,
        .cke_show_borders table.cke_show_border > tbody > tr > td,
        .cke_show_borders table.cke_show_border > tbody > tr > th,
        .cke_show_borders table.cke_show_border > thead > tr > td,
        .cke_show_borders table.cke_show_border > thead > tr > th,
        .cke_show_borders table.cke_show_border > tfoot > tr > td,
        .cke_show_borders table.cke_show_border > tfoot > tr > th {
            border: #d3d3d3 1px dotted
        }

        .SimpleUploadsOverEditor {
            box-shadow: 0 0 10px 1px #999999 inset !important;
        }

        a.SimpleUploadsTmpWrapper {
            color: #333;
            background-color: #fff;
            padding: 4px;
            border: 1px solid #EEE;
        }

        .SimpleUploadsTmpWrapper {
            display: inline-block;
            position: relative;
            pointer-events: none;
        }

        span.SimpleUploadsTmpWrapper > span {
            top: 50%;
            margin-top: -0.5em;
            width: 100%;
            text-align: center;
            color: #fff;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            font-size: 50px;
            font-family: Calibri, Arial, Sans-serif;
            pointer-events: none;
            position: absolute;
            display: inline-block;
        }

        .uploadRect {
            display: inline-block;
            height: 0.9em;
            vertical-align: middle;
            width: 20px;
        }

            .uploadRect span {
                background-color: #999;
                display: inline-block;
                height: 100%;
                vertical-align: top;
            }

        .SimpleUploadsTmpWrapper .uploadCancel {
            background-color: #333333;
            border-radius: 0.5em;
            color: #FFFFFF;
            cursor: pointer !important;
            display: inline-block;
            height: 1em;
            line-height: 0.8em;
            margin-left: 4px;
            padding-left: 0.18em;
            pointer-events: auto;
            position: relative;
            text-decoration: none;
            top: -2px;
            width: 0.7em;
        }

        .SimpleUploadsTmpWrapper span uploadCancel {
            width: 1em;
            padding-left: 0
        }
    </style>
</head>

<body contenteditable="true" class="cke_editable cke_editable_themed cke_contents_ltr cke_show_borders"
      spellcheck="true">
    <div style="font-size: 13.3333px; font-family: Verdana; color: rgb(0, 0, 0); font-weight: 400; font-style: normal; background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);">
        <br>
    </div>
    <div style="font-family: Verdana; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal; background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);">
        <br>
    </div>
    <table border="1" cellpadding="1" cellspacing="1"
           style="width: 700px; font-family: Verdana; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal; background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);">
        <tbody>
            <tr>
                <td colspan="2" style="text-align: center; background-color: rgb(255, 204, 153);">
                    IT Order Request no. {incNo}
                </td>
            </tr>
            <tr>
                <td>Created at</td>
                <td>{datetime}</td>
            </tr>
            <tr>
                <td>Created in</td>
                <td>{plant}</td>
            </tr>
            <tr>
                <td>Created by</td>
                <td>{User_Create}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>{Status}</td>
            </tr>
            <tr>
                <td>Level</td>
                <td>{Level}</td>
            </tr>
            <tr>
                <td>Note</td>
                <td>{Note}</td>
            </tr>
            <tr>
                <td>Reply</td>
                <td>{Reply}</td>
            </tr>
            <tr>
                <td>Attached File</td>
                <td>{Attached_File}</td>
            </tr>
        </tbody>
    </table>
    <div style="font-family: Verdana; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal; background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);">
        <br>
    </div>
</body>

</html>