@{
    ViewBag.Title = "Resend";
}

Thông báo! <br /> Gởi tin nhắn thành công 
<br /> Tên người yêu cầu:  @Html.TextBox("Emp_CJ", (string)ViewBag.Emp_CJ,new { @class = "text-box single-line", @readonly = "readonly", onfocus = "this.blur()", @style="background-color:#DEDEDE;" })<br />
Bộ phận:  @Html.TextBox("DeptID", (string)ViewBag.DeptID,new { @class = "text-box single-line", @readonly = "readonly", onfocus = "this.blur()", @style="background-color:#DEDEDE;" })<br />

Cám ơn!!!
<br />
<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
